body{
    font-family: helvetica;
    text-align: center;
    background-color: rgb(160, 153, 153);
    color: #fff;
}
h2{
    font-size: 20px;
}
h1{
    font-size: 32px;
}
nav{
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #666;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul a{
    margin: 4px;
    color: #fff;
}

img{
    border: solid rgb(0, 0, 0);
}

footer{
    border-top: 1px solid #666;
    margin: 20px;
}